*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    /* min-width: 1200px; */
    margin: 0 auto;
    /* border: 1px solid green; */
    /* background-image: url("../images/bgset/bg02.png"); */
    padding: 50px;
}

.main > p{
    font-size: 36px;
    font-weight: bold;
    border-bottom: 10px solid #EAFA86;
    padding-top: 100px;  
    margin: 0; 
    margin-bottom: 36px; 
}

@media (max-width: 600px){
    .main > p{
        font-size: 30px;         
    }   
}






.food1{
    display: grid;
    grid-template-columns: auto 650px 1fr;
    grid-template-rows: 200px;
    gap: 20px;
    /* border: 1px solid red; */
    position: relative;
}

.food2{
    display: grid;
    grid-template-columns: 1fr 650px auto;
    grid-template-rows: 200px;
    gap: 20px;
    position: relative;
}

@media (max-width: 1000px){   
    .food1 div:nth-child(1) img{
        display: none;
    }
    .food2 div:nth-child(3) img:nth-child(2){
        display: none;
    }    
}

@media (max-width: 767.9px) and (min-width: 576px){
    
    .food1{
        grid-template-columns: auto 500px 1fr;
    }
    .food2{
        grid-template-columns: 1fr 500px auto;
    }
}

@media (max-width: 575.9px){
    .food1{
        grid-template-columns: auto 400px 1fr;
    }
    .food2{
        grid-template-columns: 1fr 400px auto;
    }
}


.tex{    
    align-self: flex-end;
    /* border: 1px solid green; */
    overflow: hidden;
    
}

.food2 .tex{
    text-align: right;
    overflow: hidden;
}

.food1 .tex p{
    padding: 30px 0px 30px 220px;
    background-color: #EAFA86;
    margin: 0;    
    border-radius: 120px;
    position: relative;
    left: -450px;    
}

.f1-ani{
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@media (max-width: 1000px){
    .f1-ani{
        animation: initial;
    }
    .food1 .tex p{        
        left: 0px;    
    }
}


@keyframes left {
    0%{
        left: -450px;
    }
    100%{
        left: 0;
    }
}

.food2 .tex p{
    padding: 30px 220px 30px 0px;
    background-color: #EAFA86;
    margin: 0;    
    border-radius: 120px;
    position: relative;    
    right: -450px; 
}

.f2-ani{
    animation-name: right;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@media (max-width: 1000px){
    .f2-ani{
        animation: initial;
    }
    .food2 .tex p{        
        left: 0px;    
    }
}

@keyframes right {
    0%{
        right: -450px;
    }
    100%{
        right: 0px;
    }
}

.tex p::first-line{
    font-size: 24px;    
}

.food1 .tex img{
    position: absolute;
    top: 0;
    left: 120px;
}


.food2 img:first-child{
    position: absolute;
    right: 120px;
}

@media (max-width: 1000px) and (min-width: 768px){    
    .food1 .tex img{   
        left: 25px;
    }
    .food2 img:first-child{       
        right: -20px;
    }   
    
}

@media (max-width: 767.9px){    
    
    .food1 .tex img{   
        top: -30px;
        left: 260px;
        width: 150px;
    }

    .food2 img:first-child{       
        left: 30px;
        top: -30px;
        width: 150px;
    }
    
    .food1, .food2{
        margin-bottom: 50px;
    }
    
    .food2 img:first-child{       
        right: -20px;
    }
    .food1 .tex p, .food2 .tex p{
        padding: 30px;   
        max-width: 400px;  
    }    
    
    .main{
        padding-left: 20px;
        padding-right: 20px;
    }
}






.food2 .tex p > img{
    position: relative;
    left: -500px;
}

.food2 .tex p a{
    position: relative;
    right: 200px;
    top: 20px;
    /* border: 1px solid red;  */
} 

.food2 .tex p a img{    
    display: inline-block;
    width: 30px;
    height: 30px;
}

.food1 .tex p a{
    position: relative;
    right: 70px;
    top: 20px;
    /* border: 1px solid red;  */
} 

.food1 .tex p a img{
    display: inline-block;
    width: 30px;
    height: 30px;
}


@media (max-width: 767.9px){
    .food1 .tex p a img{
        left: 100px;
        top: -10px;
    }
    .food2 .tex p a img{    
        left: -100px;
        top: -10px;
    }





}















.drink-group1{
    display: grid;
    grid-template-columns: auto 3fr auto 4fr 1fr;
    column-gap: 30px;
    margin-bottom: 50px;
}

.drink-group2{
    display: grid;
    grid-template-columns: 1fr auto 3fr auto 4fr;
    column-gap: 30px;
    padding-bottom: 100px;
}

@media (max-width: 1199px){
    .drink-group1{
        grid-template-columns: auto auto; 
        row-gap: 50px;       
    }
    .drink-group2 div:nth-child(1){
       display: none;        
    }
    .drink-group2{
        grid-template-columns: auto auto;   
        row-gap: 50px;     
    }    
}


.dr-tex{
    align-self: flex-end;
}

.dr-tex p::first-line{
    font-size: 24px;    
}

.dr-tex p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.dr-tex a img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 0 0 80%;
    /* transform: translateX(-110%); */
}

.drink-group1 div img, .drink-group2 div img{
    display: block;
}

@media (max-width: 600px){
    .drink-group1 > div > img, .drink-group2 > div > img{
        width: 180px;
    }    
}

.header > ul > li:nth-child(3) a{
    color: #EAFA86;
}

