*{
    box-sizing: border-box;
    font-family: "微軟正黑體";
}

body{
    background-image: url("../images/bgset/bg02.png");
}

/* 頂端列 */

.header, .footer{
    /* border: 1px solid red; */
    width: 1200px;
    /* min-width: 1200px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
    background-color: #75673F; 
    position: relative;   
}

div.logo{
    margin: 0;
    padding: 0;
    margin-right: 30px;
    width: 200px;
    height: 141px; 
    
}

.header ul{
    /* border: 1px solid green; */
    list-style: none;
    margin: 0;
    padding: 0;                
}
.header ul{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
    column-gap: 20px;           
} 
.header ul li a{    
    font-size: 30px;
    position: relative;
    top: -20px;
    text-decoration: none;
    color: white;
}
.park div{
    display: none;        
    width: 120px;
}
.park{
    position: relative;
    /* border: 1px solid blue; */
    text-align: center;        
}
.park  p{
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 3px solid black;
    border-radius: 100%;
    color: white;
}
.park:hover .park_area{
    display: block;
    z-index: 99;
}
.park:hover .park_route{
    display: block;
    z-index: 99;
}
.park_area{
    /* border: 1px solid red; */
    background-color: #75673F;
    position: absolute;
    top: 32px;       
}
.park_route{
    /* border: 1px solid purple; */
    background-color: #75673F;
    position: absolute;
    top: 230px;    
}
.park div li a{
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
}
.park div li{
    padding-top: 20px;    
}
.park_route{
    border-radius: 0 0 30px 30px;
}
.login{
    position: relative;
}
.p_center a{
    text-decoration: none;
    font-size: 24px;
    color: white;    
}
.p_center{
    background-color: #75673F;
    width: 120px;
    padding: 10px;
    position: absolute;
    border-radius: 0 0 15px 15px;
    top: 53px;
    right: -10px;
    display: none;
}
.login:hover .p_center{
    display: block;    
}

.p_center a:hover{
    color: #EAFA86;
}

div.login{
    /* border: 1px solid green; */
    width: 30px;
    height: 30px;
    position: relative;
    top: 76px;
    margin: 10px;
    padding-bottom: 80px;    
}
.header ul li > a:hover{
    color: #EAFA86;
}
.park > a:hover{
    color: #EAFA86;
}
.header .login a svg{
    fill: white;
}
.header .login a:hover svg{
    fill: #EAFA86;
}


/* 底部 */

.footer{
    justify-content: space-evenly;
}
.footer p{
    margin: 0;
    padding: 0;
    align-self: center;    
}
.social{
    margin: 0;
    padding: 0;
    align-self: flex-end;
    margin-bottom: 20px;
    fill: #bcd238;
}



/* 購物車 */
.header input{
    border: 1px solid black;
    display: none;
}
.header label{    
    position: relative;
    bottom: 18px;
    align-self: flex-end;
}
.header input:checked~.btt{
    display: block;
}
.header input:checked+ label > svg{
    fill: #EAFA86;
}
.header input:hover+ label > svg{
    fill: #EAFA86;
}
.header label > svg{
    width: 35px;
    fill: white;
    display: block;    
}
/* 購物車尾 */

