*{
    box-sizing: border-box;
}

.main{
    /* width: 1200px; */
    min-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    background-image: url("../images/bgset/bg02.png");
}

.main > .line{
    border: 1px solid #EAFA86;
    height: 10px;
    background-color: #EAFA86;
    border-radius: 360px;
    margin-bottom: 50px;
}

.main > p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 100px;   
}

.mon-tex p{
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.mon-tex .t{
    font-size: 24px;
    font-weight: bold;
}

.tran{
    width: 50%
}

.tran p{
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.tran .t{
    font-size: 24px;
    font-weight: bold;
}

.tran{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 100px;
}

.header ul li:nth-child(6) a{
    color: #EAFA86;
}