*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    /* min-width: 1200px; */
    margin: 0 auto;
    /* border: 1px solid green; */
    /* background-image: url("../images/bgset/bg02.png"); */
    padding: 50px;
}

.sub1 > p, .sub2 > p{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid #EAFA86;
}

.sub-con{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

@media (max-width: 985px){
    .sub-con{
        display: grid;
        grid-template-columns: auto;
        row-gap: 50px;
    }
}

.sub1, .sub2{
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px;    
    align-items: center;
    padding: 40px 80px 40px 80px; 
    /* border: 1px solid red;      */
}

label{
    font-size: 20px;
}

input{
    font-size: 20px;
    
}

.sub-con button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    width: 50%;
    height: 50%;
    justify-self: center;
    background-color: #A07B14;
    color: white;
}

button:hover{
    color: #EAFA86;
}

.sub1{
    background-image: url("../images/inlogin/1.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.sub2{
    background-image: url("../images/inlogin/2.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center    
}

.sub2 .forque{
    position: relative;
}

label.que::after{
    content: "";
    /* border: 1px solid blue; */
    width: 20px;
    height: 20px;
    /* display: inline-block; */
    position: absolute;
    bottom: 0;
    background-image: url("../images/inlogin/que.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.header .login a svg{
    fill: #EAFA86;
}

