*{
    box-sizing: border-box;
}

/* 主要內容 */
.main{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    padding: 50px;   
}

.tit_map{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;    
    border-bottom: 5px solid #EAFA86;
    /* display: inline; */
}

.tit_map > span{
    font-size: 20px;
}

.tit_map > span > button{
    border: 0;        
}

.tit_map > span > button > img{
    width: 30px;
}

.tit_map > span > button > img:hover{
    transform: scale(1.3);
}


.container{
    display: flex;
    /* justify-content: space-between; */
    column-gap: 30px;
}

@media (max-width: 1199px){
    .container{
      flex-direction: column;    
    }
    .all_map{
        order: 2;
    }
    .main{
        padding: 50px 40px;
    }
}

.all_map{
    position: relative;
}

#fam_map, #cou_map, #sin_map{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.all_map img{    
    width: 900px;    
}

.all_btn{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1199px){
    .all_btn{
      flex-direction: row;  
      column-gap: 10px;  
    }
    .all_map img{    
        width: 100%;    
    }    
}

.all_btn > button{
    width: 160px;
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;    
}

.all_btn > button > img{
    width: 100%;
}

.all_btn > button > p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: none;
}

.all_btn > button:hover img{
    opacity: .4;
    cursor: pointer;
}

span#title_map > button > img:hover{
    cursor: pointer;
}

@media (max-width: 1199px) and (min-width: 768px){
    /* .all_btn > button > p{
      display: block;  
    }

    .all_btn > button > img{
        opacity: .4;
    } */

    .all_btn > button{
        animation-name: look1;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes look{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.8);
        }
    }
    .all_btn > button{
        width: 100px;
    }
    .all_btn > button > p{
        font-size: 20px;
    }
}

@media (max-width: 767.9px){
    .all_btn > button > p{
      display: block;  
    }

    .all_btn > button > img{
        opacity: .4;
    }

    .all_btn > button{
        width: 100px;
    }
    .all_btn > button > p{
        font-size: 20px;
    }
}

.all_btn > button:hover p{
    display: block;
}

.-on{
    display: block !important;
}

.-off{
    display: none !important;
}

.header > ul > li:nth-child(2) > a{
    color: #EAFA86;
}