*{
    box-sizing: border-box;
}

.main{
    width: 1200px;
    /* min-width: 1200px; */
    margin: 0 auto;
    /* border: 1px solid green; */
    text-align: center;
    /* background-image: url("../images/bgset/bg02.png"); */
    padding: 50px;
}

.main img{
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 100px;
    width: 960px;
    
}

.p-new{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* margin-bottom: 100px;    */
    padding-bottom: 100px;
}

.p-new p{
    background-color: #EAFA86;
    padding: 50px;
    border-radius: 50px;
    text-align: left;
}

.header ul > li:nth-child(1) a{
    color: #EAFA86;
}