*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    padding: 50px;
}

.main > .line{
    border: 1px solid #EAFA86;
    height: 10px;
    background-color: #EAFA86;
    border-radius: 360px;
    margin-bottom: 50px;
}

.main > p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 100px;   
}

.p_inn p{
    display: inline-block;
    margin: 0;
}

.p_inn img{
    display: block; 
      
}

.p_inn{
    font-size: 24px;
    text-align: center;
    position: relative;
}

.p_inn svg{
    position: absolute;
    right: 0;
    bottom: 0;
}

.product{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    justify-content: center;
    justify-items: center;
    gap: 50px;
    padding-bottom: 100px;    
}

@media (max-width: 1199px) and (min-width: 992px){
    .product{
        grid-template-columns: 230px 230px 230px;
    }
    .main > p{
        font-size: 30px;         
    }
}

  @media (max-width: 991.9px) and (min-width: 768px){
    .product{
        grid-template-columns: 230px 230px;
    }
    .main > p{
        font-size: 30px;         
    }
}

@media (max-width: 767.9px){
    .product{
        grid-template-columns: 230px;
    }
    .main > p{
        font-size: 30px;         
    }
}







.header > ul > li:nth-child(4) a{
    color: #EAFA86;
}




