img{
    max-width:100%;  
      
  }
  
  @media screen and (max-width: 575px){
    div.my_div1{
      width: 100%;
    }
  }
  
  @media (max-width: 767px) and (min-width: 576px){
    div.my_div1{
      width: 540px;    
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px){
    div.my_div1{
      width: 720px;    
    }
  }
  
  @media (max-width: 1199px) and (min-width: 992px){
    div.my_div1{
      width: 960px;    
    }
  }
  
  @media screen and (min-width: 1200px){
    div.my_div1{
      width: 1140px;
    }
  }