*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    /* background-image: url("../images/bgset/bg02.png"); */
    padding: 50px;
}

.main div.map{
    padding-top: 100px;
    margin-bottom: 50px;   
}

.map img{
    display: block;
    width: 1000px;
    margin: 0 auto;
    border-radius: 50px;
}

@media (max-width: 1199px) and (min-width: 768px){
    .map img{
        width: 720px;        
        margin-top: 50px;
    } 
    .main{
        padding: 0;
    }
    .main div.map{
        padding-top: 50px;        
    } 
}

@media (max-width: 767.9px){
    .map > img{
        max-width: 100%;        
        margin-top: 50px;
    }
    .main{
        padding: 0;
    }
    .main div.map{
        padding-top: 50px;          
    }
}




.main > p{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.main .line{
    border: 1px solid #EAFA86;
    height: 5px;
    background-color: #EAFA86;
    border-radius: 360px;
    /* margin-bottom: 50px; */
}


@media (max-width: 767.9px){
    .main > p{
        font-size: 24px;
        margin-left: 50px;
    }
}

.ann{
    background-image: url("../images/inmaptem/Group\ 201.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto; 
    gap: 40px;
    padding-bottom: 100px;
}

.ann :nth-child(2n){
    justify-content: center;
}

.ann :nth-child(3), .ann :nth-child(7){
    justify-content: flex-end;
}

.example{
    display: flex;
    font-size: 16px;
    align-items: center;    
}

.example p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 300px;
}

.example img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}



@media (max-width: 767px) and (min-width: 576px){
    .example img{        
        margin-right: 20px;
    }
    .ann{
        padding-bottom: 100px;
    }
}

@media (max-width: 575.9px){
    .ann{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }
    .example img{        
        margin-right: 0px;
    }    
    .ann :nth-child(2n){
        justify-content: flex-start;
    }    
    .ann :nth-child(3), .ann :nth-child(7){
        justify-content: flex-start;
    }
    .example{
        flex-direction: column;
    }
    .example div{        
        display: none;
    }
    .onff{
        display: flex !important;
    }
}





.header > ul > li:nth-child(2) > a{
    color: #EAFA86;
}

ul.park-area li a{
    color: #EAFA86;
}

