*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.main > p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 100px;   
    border-bottom: 10px solid #EAFA86;
    margin-bottom: 50px;
}

@media (max-width: 767px){
    .main > p{
        font-size: 30px;        
    }
}

.food-group{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.food-group > .food{
    display: flex;
}

.food-group > .food:nth-child(2n) > img{
    order: 2;
}

.food-group > .food:nth-child(2n){
    justify-content: flex-end;
}

.food-group > .food > img{
    width: 100px;
    height: 100px;
}

@media (max-width: 767px){
    .food-group > .food > img{
        display: none;
    }
}

.p_move{
    display: flex; 
    position: relative; 
    overflow: hidden;  
}

@media (max-width: 767px){
    .p_move{
        flex-direction: column;  
    }
}


.p_move > .buy_car{
    width: 30px;
    align-self: flex-end;
    position: absolute;
    right: 100%;
    bottom: 10px;    
}

/* .p_move:hover > .buy_car{
    right: 5%;
    transition: 3s;
} */

.p_move > .mafood{
    width: 200px;
    height: 200px;
    z-index: 3;
}

@media (max-width: 767px){
    .p_move > .mafood{
        width: 160px;
        height: 160px;
    }
    .p_move > .buy_car{        
        right: 5%;
    }
}

.p_move > div{
    align-self: flex-end;
    width: 450px;
    background-color: #EAFA86;
    padding: 25px 10px 50px 25px;
    border-radius: 50px;
    transform: translateX(-100%);    
}

@media (max-width: 767px){
    .p_move > div{        
        padding: 20px;
        width: 300px;
        transform: translateX(0);
    }
}

/* .p_move:hover > div{
    transform: translateX(0);
    transition: 3s;
} */

.p_move > div > p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.p_move > div > p.food_tit{
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 767px){
    .p_move > div > p{
        font-size: 16px;
    }
    .p_move > div > p.food_tit{
        font-size: 20px;
    }
}

.food:nth-child(2n) > .p_move > div{
    order: 2;
    transform: translateX(100%);
}

/* .food:nth-child(2n) > .p_move:hover > div{
    transform: translateX(0%);
} */

.food:nth-child(2n) > .p_move > .buy_car{
    order: 1;
    left: 100%;
}

/* .food:nth-child(2n) > .p_move:hover > .buy_car{
    left: 5%;
} */

.food:nth-child(2n) > .p_move > .mafood{
    order: 3;
}

@media (max-width: 767px){
    .food:nth-child(2n) > .p_move > div{
        order: 3;
        transform: translateX(0%);
    }
    .food:nth-child(2n) > .p_move > .buy_car{
        order: 2;
        left: 80% !important;
    }
    .food:nth-child(2n) > .p_move > .mafood{
        order: 1;
    }
}

.fd1{
    transform: translateX(0) !important;
    transition: 3s;
}

.fc1{
    right: 5% !important;
    transition: 3s;
}

.fd2{
    transform: translateX(0) !important;
    transition: 3s;
}

.fc2{
    left: 5% !important;
    transition: 3s;
}


/* 甜點 */

.drink-group{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

@media (max-width: 991px){
    .drink-group{        
        grid-template-columns: auto;
    }
}

.drink{
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 10px;
}

.drink > .d_move > img.mafood{
    display: none;
}

.drink > img{
    width: 180px;
}

.d_move > p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.d_move > .food_tit{
    font-size: 24px;
    font-weight: bold;
}

.d_move > .buy_car{
    width: 30px;
    position: absolute;
    right: 5%;
}

@media (max-width: 767px){
    .d_move > p{
        font-size: 16px;
    }
    .d_move > .food_tit{
        font-size: 20px;
    }
}

