*{
    box-sizing: border-box;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    padding: 50px;
}

.main > p{
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    border-bottom: 10px solid #EAFA86;
    padding-top: 100px;
    max-width: 1060px;
}

.food, .product{
    margin-left: 50px;
}

.food > p, .product > p{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 10px solid #EAFA86;
    max-width: 1000px;
}
/*
.food-con, .product-con{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
    text-align: center;
    column-gap: 30px;
    row-gap: 10px;
    font-size: 20px;
    align-items: center;
    padding-left: 20px;
} */

.food-con{
    display: flex;
    flex-direction: column;
}

.foo > .beused{
    display: none;
}

.foo{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 20px 200px 180px;
    justify-items: center;
    align-items: center;
    margin-left: 30px;
}

.foo p{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.foo:first-child p{
    font-weight: bold;
}

.foo:first-child label{
    visibility: hidden;
}

.foo > div{
    display: flex;
    column-gap: 20px;
    align-items: center;
    /* border: 1px solid blue; */
}

.foo > div > img{
    margin-left: 10px;
}

.foo > div > label{
    margin-left: 15px;
}

@media (max-width: 575px){
    .foo > .beused{
        display: block;
    }
    .foo{
        grid-template-columns: 30px 160px;
    }
    .foo > label{
        position: relative;
        top: 60%;
    }
    .foo:nth-of-type(1) > div {
        padding: 0 20px;
        background-color: #75673F;
        color: white;
        border-radius: 30px;
        margin-bottom: 15px;
    }
    .foo p{
        font-size: 16px;
    }
    .foo:nth-of-type(1) > p{
        font-size: 24px;
    }
}







.food-con .cb, .product-con .cb{
    display: none;    
}

.cb + label::before{
    content: "";
    background-image: url("../images/incenter/uncheck.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.cb:checked + label::before{
    background-image: url("../images/incenter/checked.png");
}

.tic{
    transform: scale(0.8);
}













.adopt-con{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    padding-bottom: 100px;
    margin-top: 64px;
}

@media (max-width: 1199px) and (min-width: 850px){
    .adopt-con{
        grid-template-columns: auto auto auto;
        row-gap: 50px;        
    }
}

@media (max-width: 849.9px) and (min-width: 600px){
    .adopt-con{
        grid-template-columns: auto auto;
        row-gap: 50px;        
    }
}

@media (max-width: 599.9px){
    .adopt-con{
        grid-template-columns: auto;
        row-gap: 50px;        
    }
    .main > p{
        font-size: 30px;        
    }
}

.adopt{
    width: 200px;
    display: flex;
    flex-direction: column;        
}

.p1{
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.exchange{
    align-self: flex-end;
}

.exchange .img1{
    height: 30px;
}

.header .login a svg{
    fill: #EAFA86;
}

div.p_center a{
    color: #EAFA86;
}


