*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/bgset/bg02.png");
}

.product-title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 30px;
    border-bottom: 5px solid black;
}

.product-title .e12{
    /* transform: rotate(30deg); */
    width: 70px;
}

.product-title > p{
    font-size: 36px; 
    font-weight: bold;    
    padding: 0;
    margin: 0;
}

@media (max-width: 991px) and (min-width: 768px){
    .product-title > p{
        font-size: 30px;
    }
    .product-title .e12{
        width: 40px;
    }
    .product-title .e11{
        width: 60px;
    }
}

@media (max-width: 767px){
    .product-title > p{
        font-size: 24px;
    }
    .product-title .e12{
        width: 30px;        
    }
    .product-title .e11{
        width: 45px;
    }
    .product-title{
        column-gap: 10px;
        margin-bottom: 15px;
    }
}





.reimg > img.a11{
    border-radius: 100px;    
    display: block;
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid blue; */        
}

.food .reimg{
    position: relative;
    border: 1px solid red;
    width: 960px;
    margin: 0 auto;
}

.reimg .a12{
    position: absolute;
    left: 0;
    bottom: 0;
    left: 20%;
    bottom: 15%;
    border-radius: 10%;
    width: 250px;
    z-index: -1;    
}

.reimg .b12{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px; 
    right: 10%;
    bottom: 8%;
    background-color: #c7a047;
    width: 450px;
    padding: 15px;
    border-radius: 30px;
    color: white; 
    z-index: -1;  
}

.reimg .b12::first-line{
    font-size: 24px;
    font-weight: bold;    
    border-bottom: 10px solid #EAFA86;
    color: black;
}

.reimg:hover .a12{
    z-index: 1;    
    transition: 2s;
    transition-timing-function: linear;    
}

.reimg:hover .b12{
    z-index: 1;    
    transition: 2s;
    transition-timing-function: linear;    
}

.reimg:hover .a11{
    opacity: .4;    
}















